:root {
    --main-background-color: #FFFFFF;
    --cover-color: #FFFFFF;
    --primary-title-color: #2E2F42;
    --secondary-title-color:#434455;
    --accent-color:#4D5AE5; 
}
body {
font-family: Roboto, sans-serif;
font-size: 16px;
background-color: var(--main-background-color);
}
/* -----header---- */
.header-nav link {
color: var(--primary-title-color);
}
.link {
text-decoration: none;
}
.link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--primary-title-color);
}
.header-logo {
Font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
text-transform: uppercase;
color: var(--accent-color);
}

.logo-second part> span {
color:var(--primary-title-color);
}
.contact {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-title-color);
}
.contact :hover,  .contact :focus {
color: var(--accent-color);
}
.contact link {
text-decoration: none;
}
.header-item :hover, .header-item :focus{
color:var(--accent-color);
}
.header-link {
list-style: none
}
.header-link {
color:var(--secondary-title-color);
}

/* ----hero----- */
.cover{
background-color: #2E2F42;
} 
.cover-title {
font-weight: 700;
font-size: 56px;
line-height: 1;
letter-spacing: 0.02em;
color: var(--cover-color);
} 
.cover-button {
Font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1,5;
cursor: pointer;
color:var(--cover-color);
background-color: #4D5AE5;
} 
/* ----features---- */
.features  {
background-color:var(--main-background-color); 
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-suptitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--primary-title-color);  
}
.section-text {
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--secondary-title-color);
}
.features-item--title  {
}
.features-list {
list-style: none;
}
.features-item {
}
.features-item-text {
}
/* ----services---- */
.services {
background-color:var(--main-background-color);
}
.services-title {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--primary-title-color);
}
.services-item {
}
/* ----team---- */
.team { 
}
.title-list list { 
}
.title-list {
list-style: none;
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
background-color:#F4F4FD;
color:var(--primary-title-color);
}
.team-item-suptitle{
}
.team-text {
}
.footer {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.1;
letter-spacing: 0.03em;
background-color: #2E2F42;
}
.footer-logo {
text-transform: uppercase;
color:var(--accent-color);
}
.footer-studio {
text-transform: uppercase;
color:#F4F4FD;  
}
.footer-studio > span {
color: #F4F4FD;
}
.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}
/* ----portfolio---- */
/* ----header---- */
/* ----hero---- */
.hero-title {
background-color: var(--main-background-color);
}
.pointer {
cursor: pointer;
color:var(--accent-color);
}
.button {
}
.hero-button {
cursor: pointer;
background-color: #F4F4FD;
color:var(--accent-color);
}
.hero-button :hover, .hero-button :focus {
color: var(--accent-color);
}
.hero-list{
list-style: none
}
.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}
/* ----services---- */
.services {
style: none;
 }
.services-list {
list-style: none
}
.services-title {
 }
.services-item-text {
 }
.services-item {
item-style: none
 }
.services-item {
 }
 